@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
/* Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #d2f5d2; /* light green track */
}

::-webkit-scrollbar-thumb {
  background-color: #016701; /* your green */

  /* to match the track */
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #48c648; /* a slightly darker green */
}
